:root{
  box-sizing: border-box;
  --background1: #0B2027;
  --background2: #40798C;
  --navbar: #050f12;
  --important: #7dc7bd;
}

*{
  font-family:'Courier New', Courier, monospace;
}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#welcome-section{
  width: 100vw;
  height: 100vh;
  background-color: var(--background1);
  padding-top: 10%;
  padding-left: 10%;
}

#projects-section{
  width: 100vw;
  height: 100vh;
  background-color: var(--background2);
  padding-top: 10%;
  padding-left: 10%;
}


#introduction{
  width: fit-content;
}

#introduction>h1{
  font-size: 3rem;
  margin-bottom: 10px;
  color: #c7c7c7;
}

#introduction>span{
  font-size: 1.5rem;
  color: #c7c7c7;
}

#introduction>p{
  color: #c7c7c7;
  font-size: 1.1rem;
  width: 30vw;
}

strong{
  color: var(--important);
}

#navbar{
  position: fixed;
  display: flex;
  background-color: var(--navbar);
  height: 2vw;
  top: 0;
  left: 0;
  right: 0;
  justify-content: end;
  gap: 50px;
  padding-right: 30px;
  padding-top: 20px;
}

#navbar>a{
  text-decoration: none;
  color: var(--important);
  font-weight: bold;
  font-size: 1.2rem;
}